:root {
	--main-color: #131313;
	--blanco: #ffffff;
}

body {
	background-image: url(../img/coches/clasico.avif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	font-family: "Maven Pro", sans-serif;
	color: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

/* Principio del header */
.header {
	/* background-color: #f8f9fa; */
	text-align: center;
	display: flex;
	position: relative;
	align-items: flex-start;
	justify-content: space-between;
	z-index: 5;
	margin: 0;
}

.logo {
	height: 140px;
	width: auto;
	position: relative;

}

.logo-breez {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 6px #841111, 0 0 8px #5a0101, 0 0 15px #373537, 0 0 10px #313232;
}

.navegacion {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 4.5rem;
	gap: 1rem;
	background-color: #01010148;
	/* opacity: 0.5; */
	width: 100%;
	padding-right: 0.5rem;
}

.link-nav,
.btn-llamar {
	text-decoration: none;
	color: var(--blanco);
	font-family: "Maven Pro", sans-serif;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.btn-llamar {
	background-color: #D85B5B;
	color: #FFFFFF;
	border: 2px solid #D85B5B;
	margin: 0 3rem 0 1rem;
	border-radius: 2rem;
	padding: 0.5rem 2.3rem;
}

/* FIN del header */

/* INICIO del formulario */

/* .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#contacto-form{
    background-image: url(../img/coches/clasico.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    color: #D85B5B;
}  */
/* Prueba de formato de label */
/* #contacto-form{
	width: 100%;
	height: 50px;
	max-width: 400px;
	position: relative;
	overflow: hidden;
}

#contacto-form input{
	width: 100%;
	height: 100%;
	background: none;
	color: #fff;
	padding-top: 20px;
	border: none;
	outline: 0;
}

#contacto-form .label_name{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #c7c7c7;	
}

#contacto-form .label_name{
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #D85B5B;
	transform: translateX(-100%);
	transition: all 0.3s ease;
}
.text_name{
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: all 0.3s ease;
	color: #D85B5B;
}
#contacto-form input:focus + .label_name .text_name,
#contacto-form input:valid + .label_name .text_name{
	transform: translateY(-150%);
	font-size: 14px;
	color: #c56161;
}
#contacto-form input:focus + .label_name:after,
#contacto-form input:valid + .label_name:after{
	transform: translateX(0);
} */

/* Prueba 2 */
.contacto {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background-color: transparent;
	position: relative;
	padding: 2rem;
}

.formulario_estilos {
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
	background-color: #ffffff73;
	padding: 2rem 2.5rem;
	border-radius: 1.2rem;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	font-family: "Maven Pro", sans-serif;
	width: 90%;
	max-width: 400px;
	position: relative;
}

.form_titulo {
	font-size: 2rem;
	font-weight: 600;
	color: var(--main-color);
	text-align: center;
	margin-bottom: 1rem;
}

.form_input {
	height: 2.5rem;
	padding: 0 0.8rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 2px solid #535151;
	color: var(--main-color);
	background-color: var(--blanco);
	font-family: "Maven Pro", sans-serif;
	transition: border-color 0.3s ease-in-out;
}

.form_input:focus {
	border-color: #bea000;
	outline: none;
}

textarea.form_input {
	height: 6rem;
	resize: none;
	padding: 0.7rem;
}

.form_label {
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0.5px;

	margin-left: 0.3rem;
	font-family: "Maven Pro", sans-serif;
}

.form_enviar {
	width: 100%;
	height: 2.8rem;
	background-color: #bea000;
	color: var(--blanco);
	border-radius: 0.7rem;
	border: 2px solid #bea000;
	font-size: 1.1rem;
	cursor: pointer;
	font-family: "Maven Pro", sans-serif;
	font-weight: 550;
	letter-spacing: 1px;
	transition: all 0.3s ease-in-out;
}

.form_enviar:hover {
	background-color: var(--main-color);
	color: var(--blanco);
	border: 1px solid var(--blanco);
}