:root {
	--main-color: #131313;
	--blanco: #ffffff;
}

body {
	background-color: var(--main-color);
	font-family: 'Maven Pro', sans-serif;
	color: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo-login {
	width: 250px;
	height: auto;
	border: 2px solid #141313;
	margin: 1rem;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 1rem;
}

.botones-registro-inicio {
	/* padding: 0.8rem; */
	width: 15.6rem;
	height: 2.5rem;
	background-color: var(--blanco);
	color: var(--main-color);
	border-radius: 1rem;
	font-family: 'Maven Pro', sans-serif;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 2px solid var(--blanco);
}

.botones-registro-inicio:hover {
	background-color: var(--main-color);
	color: var(--blanco);
	border: 1px solid var(--blanco);
}

.logitos-redes {
	margin-top: 1rem;
}

.logo-redes-login {
	width: 50px;
	height: auto;
	margin: 0 1rem;
	padding: 0;
	box-sizing: border-box;
}

.logo-redes-login:hover {
	transition: all 0.3s ease-in-out;
	transform: scale(1.1);
}

.aviso-first-look {
	color: #fff;
	font-size: 0.7rem;
	text-align: center;
	position: absolute;
	bottom: 10px;
}